<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            id="org.vergen.preferences.vergen"
            name="VerGen"
            class="org.vergen.preferences.VerGenPage">
      </page>
      <page
            id="org.vergen.preferences.parser"
            name="Parser"
            category="org.vergen.preferences.vergen"
            class="org.vergen.preferences.ParserPage">
      </page>
   </extension>
   
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.vergen.preferences.Initializer">
      </initializer>
   </extension>
   
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               id="plugin_prototype2.views.SampleView"
               relative="org.eclipse.ui.views.ProblemView"
               relationship="right"
               ratio="0.5">
         </view>
      </perspectiveExtension>
   </extension>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="Sample Category"
            id="plugin_prototype3">
      </category>
      <view
            id="org.vergen.views.VerGenView"
            name="VerGen View"
            icon="icons/sample.png"
            class="org.vergen.views.VerGenView"
            category="plugin_prototype3"
            inject="true">
      </view>
   </extension>

   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               id="org.vergen.views.VerGenView"
               relative="org.eclipse.ui.views.ProblemView"
               relationship="right"
               ratio="0.5">
         </view>
      </perspectiveExtension>
   </extension>
   
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
   
   <extension
         point="org.eclipse.core.runtime.products">
      <property
           name="preferenceCustomization"
           value="plugin_customization.ini">
      </property>
   </extension>

</plugin>
